/*º--------------Reset--------------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  width:100%;
  height:auto;
}
video{
  width:100%;
}
/*º-------------- Variables --------------------------------------*/

:root{
  --header-height:4.5rem;
   /* colors */
   --hue: 215;
   /* HSL color mode */
   --base-color: hsl(var(--hue), 100%,40%,1);
   --base-color-second: hsl(var(--hue) 65% 88%);
   --base-color-alt: hsl(var(--hue) 57% 53%);
   --title-color: hsl(var(--hue) 41% 10%);
   --text-color: hsl(0 0% 46%);
   --text-color-light: hsl(0 0% 98%);
   --body-color: hsl(0 0% 98%);
   /* font */
   --title-font-size: var(1.875rem)
   --subtitle-font-size:var(1rem);
   --title-font: 'Poppins', sans-serif;
   --body-font:  'DM Sans', sans-serif;
}
/*º-------------- Base --------------------------------------*/
html{
  scroll-behavior: smooth;
}
body{
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

#logo-graf{
  width: 1.5rem;
  height: 1.35rem;
  margin-right: -0.4rem;
}
.title{
  font:700 1.875rem var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;

}
.title-services{
  font:700 1.65rem var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
  text-align: center;
  margin-bottom: 0.82rem;
}
.button{
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding:0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
}
/*

*/
.button:hover{
  background-color: var(--base-color-alt);
  transition:0.3s;
}
.divider-1{
  height:0.063rem;
  background: linear-gradient(
    270deg, 
    hsla(var(--hue), 36%, 57%, 13),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}
.divider-2{
  height:1px;
  background: linear-gradient(
    270deg, 
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 13)
    
  );
}
/*-------------- Layout --------------------------------------*/
.container{
  margin-left: 1.5rem;
  margin-right: 1.5rem;

}
.grid{
  display: grid;
  gap:2rem;
}
.section{
  padding:calc(5rem + var(--header-height))0;
}
.section .title{
  margin-bottom: 1rem;
}

.section .subtitle{
  font-size: var(--subtitle-font-size);
}

.section header{
  margin-bottom: 4rem;
}
.section header strong{
  color: var(--base-color)
}
#header{
  border-bottom: 1px solid #e4e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position:fixed;
  
  top: 0;
  left:0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
  transition: 1.5s;
}
#header.scroll{
  background-color:var(--base-color);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  transition: 1.5s;
}

#header.scroll .logo span{
  
  color: white; 
}
#header.scroll nav ul li a:hover::after{
  background-color: white;
  width: 100%;
}
#header.scroll ul li a{
  color: white;
}
#header.scroll .icon-menu{
  color: white;
  transition:1.5s;
}
main{
  margin-top: calc(var(--header-height) + 2rem);
}
/*---------------------------Logo---------------------------*/
.logo{
  font:700 2rem var(--title-font);
  color: var(--title-color);

}
.logo span{
  color: var(--base-color)
}
.logo-alt span{
  color: var(--body-color);
}
/*--------------------Navigation-----------------------------*/

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  width: 100%;
}

nav ul li{
  text-align: center;
}
nav ul li a{
  transition: color 0.3s;
  position: relative;
}
nav ul li a:hover{
  color: var(--base-color);
}
nav ul li a::after{
  content: "";
  width: 0%;
  height:2px;
  background:var(--base-color);

  position: absolute;
  
  left:0;
  bottom:-1.5rem;

  transition: widh 0.5s;
}
nav ul li a:hover::after,
nav ul li a.active
{
  width:100%;
  
}

nav .menu{
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition:0.2s;
}
  nav .menu ul{
    display:none;
  }
/*Mostrar MENU==========*/
nav.show .menu{
  opacity: 1;
  visibility:visible;
  background-color: var(--body-color);
  
  height: 100vh;
  width: 100vw; 
  position:fixed;
  left:0;
  top:0;
  
  display: grid;
  place-content: center;
}

nav.show .menu ul{
  display: grid;
}
nav.grid ul.grid{
  gap: 4rem;
}
/*Toggle menu-----------------------------------------------*/
.toggle{
  color: var(--base-color);
  font-size:1.5rem;
  cursor: pointer;
}
nav .icon-close{
  visibility:hidden;
  opacity:0;
  top: -1.5rem;
  position:absolute;
  right: 1.5rem;

  transition:1.2s;
}
nav.show div.icon-close{
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}
/*
ºSection
º<-------------- Home ------------------------------------>
*/
#home{
  overflow: hidden;
}
#home .container{
  margin: 0;
}
#home .image{
  position: relative;
  
}
#home .image::before{
  content:'';
  height:100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}
#home .image img{
  position:relative;
  right: 2.93rem;
}
#home .image img, 
#home .image::before{
  border-radius: 0.25rem;
}

#home .text{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}
#home .text h1{
  margin-bottom: 1rem;
}
#home .text p{
  margin-bottom: 2rem;

}
h4{
  display: inline;
  visibility: hidden;
}
.justi{
  text-indent: 1rem;
  text-align: justify;
}

/*
ºSection 
º<----------------Sobre nós"-------------------->
*/
#about{
  background-color: white;
}
#about .container{
  margin: 0;
}
#about .image{
  position: relative;
  
}


#about .image img{
  position:relative;
}
#about .image img, 
#about .image::before{
  border-radius: 0.25rem;
}
#about .text{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*
ºSection 
º<----------------Services"-------------------->
*/
.services-text{
  font-size:var(--subtitle-font-size);
  text-align: justify;
  text-indent: 1rem;
}
.services-text1{
  font-size:var(--subtitle-font-size);
  text-align: center;
  
  
}
.image-services{
  width:31.25rem;
  height: 31.25rem;
  display: block;
  margin: 0 auto;

  
}
.image-car-services{
  width: 31.25rem;
  display: block;
  margin: 0 auto;

  
}
.image-services1{
  height: 31.25rem;
  display: block;
  margin: 0 auto;
  width:31.25rem;
  
  background-color: black;
}
.border-services{
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    text-align: center;
    
    border: 0.4rem solid var(--base-color);
    
}
.border-services1{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  text-align: center;
  
  border: 0.125rem solid var(--base-color);
  
}
.icon-services {
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color)
}
.icon-svg{
  text-align: center;
  margin: 4.5rem auto;
  display: block;
  margin-bottom: 1.5rem;
  width: 5rem;
 fill:blue;
}
.h-services{
  text-align: center;
}
.cards.grid{
  gap: 1.5rem;
}

.card{
  padding: 3.6rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: .25rem .25rem 0 0;
  text-align: center;
}
.card i{
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color)
}
.i-serviços{
  margin-top: 4.5rem;
}

.card .title{
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/*
º-----------------Section 
º<----------------Testimonials"-------------------->
*/
#testimonials header{
  margin-left:  1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}
#testimonials .container{
  margin-left: 0;
  margin-right: 0;
}
#testimonials{
  background:white;

}
#testmonials blockquote{
  padding:2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}
#testmonials blockquote p{
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}
#testmonials blockquote p span{
  font: 700 2.5rem serif;
  
  position:absolute;
  top:-0.375rem ;
  left: -1.875rem;
  color: var(--base-color);
}
#testmonials cite{
  display: flex;
  align-items: center;
  font-style: italic;
}
#testmonials cite img{
  width:2rem;
  height:2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

/*Swiper*/
.swiper-slide{
  height:auto;
  padding:4rem 1rem;
}

.swiper-pagination-bullet{
  width:0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active{
  background:var(--base-color);
}
/*
ºSection 
º<----------------Contact"-------------------->
*/
#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact .button-whatsapp i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

/*
ºSection 
º<----------------Footer-------------------->
*/
footer{
  background:var(--base-color);
}

footer.section{
  padding:4rem 0;
}

footer .logo{
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand {
  color: var(--text-color-light);
}
footer .brand p{
  color:var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i{
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social{
  display: flex;
  gap: 1rem; 
  transition: 0.3s;
}
footer .social a:hover{
  transform: translateY(-8px);
}

/*
ºback to top
*/

.back-to-top{
  background:var(--base-color);
  color: var(--text-color-light);
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding:0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition:0.3s;
  transform: translateY(100%);
}
.back-to-top.show{
  visibility:visible;
  opacity: 1;

  transform: translateY(0);
}

    /*
      ºResponsive
    */
    
  /*
    extra large devices:1200>=
  */
  @media (min-width:967px) {
    .logo{
      font-size: 2.25rem;
    }
    /*
      *Reusable Classes
    */
    .container{
      max-width: 1120px;
      margin-left: auto;
      margin-right: auto;
    }
    .section{
      padding: 10rem 0;
    }
    .section header{
      max-width:32rem;
      text-align: center;
      margin-right: auto;
      margin-left: auto;

    }
    .button{
      height: 3.125rem;
    }
    
    /*
      *Navigation
    */
    nav .menu{
      opacity: 1;
      visibility: visible;
      top: 0;
    }
    nav .menu ul{
      display: flex;
      gap: 2rem;
    }
    

    nav .menu ul li a.title.title{
       font: 400 1rem var(--body-font);
       -webkit-font-smoothing:antialiased; 
    }
    nav .menu ul li a.active{
      font-weight: bold;
      -webkit-font-smoothing:auto;
    }
    nav .icon-menu{
      display: none;
    }
    /*
      *layout
    */
    main{
      margin-top: var(--header-height);
    }
    /*
    home
    */
    #home .container{
      grid-auto-flow: column;
      justify-content: space-between;
      margin: 0 auto;
    }
    #home .image{
      order: 1;
    }
    #home .text{
      order: 0;
      max-width: 24rem;
      text-align: left;
    }
    /*
      *About
    */
    #about .container{
      margin: 0 auto;
      grid-auto-flow: column;
    }
    /*
      *Services
    */
  
    .card{
      padding-left: 3rem;
      padding-right: 3rem;
    }
    /*
      *testimonials
      !testimonials .container{
        !margin-left:0;
        !margin-right:0;
      }
    */
    /*
      *Contact
    */
    #contact .container{
      grid-auto-flow: column;
      align-items: center;
    }
    #contact .text{
      max-width: 25rem;
    }
    a.button-whatsapp{
      background-color: #25D366;
      color: var(--text-color-light);
      height: 3.5rem;
      display: inline-flex;
      align-items: center;
      padding:0 2rem;
      border-radius: 0.25rem;
      font: 500 1rem var(--body-font);
    }
   
    /*
      *footer
    */

    footer .section{
      padding:3.75rem 0;
    }

    footer .container{
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;
    }
    footer .logo{
      font-size: 2.25rem;
    }
  }

  /*
    large devices:1023 >
  */
  @media (min-width:1023px) {
    a.button-whatsapp{
      background-color: #25D366;
      color: var(--text-color-light);
      height: 3.5rem;
      display: inline-flex;
      align-items: center;
      padding:0 2rem;
      border-radius: 0.25rem;
      font: 500 1rem var(--body-font);
    }
  }
  /*
    large devices:992 >
  */
@media (min-width:992px) {
  :root{
    --title-font-size:2.25rem;
    --subtitle-font-size:1.125rem;
  }
  
}
/*
    medium devices:767 >
  */
  @media (min-width:767px) {
    :root{
      --title-font-size:2.2rem;

      
    }
    a.button-whatsapp{
      background-color: #25D366;
      color: var(--text-color-light);
      height: 3.5rem;
      display: inline-flex;
      align-items: center;
      padding:0 2rem;
      border-radius: 0.25rem;
      font: 500 1rem var(--body-font);
    }
  }
  
  
  

  @media (max-width:425px){
    /*
      *home
    */
    #home img{
     
        position: relative;
       right: 0;

    }
    .services-text{
      font-size:var(--subtitle-font-size);
      text-align: center;
      text-indent: 1rem;
    }
    .services-text1{
      font-size:var(--subtitle-font-size);
      text-align: center;
      text-indent: 1rem;
      
    }
    .section {
      padding: calc(1rem + var(--header-height))0;
    }
    /*.container{
      max-width:400px;
      
    }*/
    .subtitle-servcices{
      text-align: justify;
    }
    .title{
      text-align: center;
      padding-bottom: 2rem;
    }
    .logo-class-graf{
      width: 1.2rem;
      height: 1.0rem;
      margin-right: -0.325rem;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: var(--header-height);
      width: 100%;
    }
    img {
      left: -.0rem;
      width: 100%;
      height: auto;
    }
  /*
    *Sobre
  */
  
  video{
    width:100%;
  }
  
  /*
  *Services
  */
  :root{
    --title-font-size: var(1rem)
  }
   .title{
    font: 700 1.2rem var(--title-font);
    font-size: var(--subtitle-font-size);
  }
  
  .image-services {
    width: 100%;
    height: 55%;
    
    margin: 0 auto;
  }

  .image-services1 {
    width: 100%;
    height: 69%;
    display: block;
    margin: 0 auto;
  }
  .image-car-services {
    width: 100%;
    display: block;
    margin: 0 auto;
}
  /*
   *footer
  */
  a.button-whatsapp{
    background-color: #25D366;
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding:0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
  }
  }